<html>
<head></head>
<body onload="InitThis();">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/2019-08-16-colormaps/JsCode.js"></script>
    <div align="center">
        <canvas id="myCanvas" width="500" height="500" style="border:2px solid black"></canvas>
         <div align="center">
             0.0 <---------------------------------- x ---------------------------------------> 1.0
        </div> 

        <button onclick="javascript:clearArea();return false;">Clear Area</button>
        <button onclick="javascript:showSolution();return false;">Show Solution</button>
    </div>
</body>
</html>

